<div class="custom-chart-wrapper">
  {% for row in rows %}
    <div class="bar-one">
      <div class="bar-label">{{ row.content['#field_task_name'] }}</div>
      <div class="bar-inner" style="height: {{ row.content['#field_junior_developer_s_estimat'] }}%;">
        Junior Estimate: {{ row.content['#field_junior_estimate'] }} hours
      </div>
      <div class="bar-inner senior" style="height: {{ row.content['#field_senior_developer_s_estimat'] }}%;">
        Senior Estimate: {{ row.content['#field_senior_estimate'] }} hours
      </div>
      <div class="bar-inner actual" style="height: {{ row.content['#field_actual_time_needed'] }}%;">
        Actual Time: {{ row.content['#field_actual_time'] }} hours
      </div>
    </div>
  {% endfor %}
</div>